header:first-of-type {
    background-color: #070F2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    color: #9290C3;
    font-size: 50px;
}

header:nth-of-type(2) {
    background-color: #9290C3;
    padding: 1px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;;
    font-size: 18px;
}

nav a:hover {
    color: #1B1A55;
}

body {
    margin: 0;
    background-color: #F5F3FA;
    font-family: 'Poppins', sans-serif;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-box {
    background-color: #E8E7F2;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    margin-top: 50px;
}

.home-box:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px #9290C3;
}

.home-box h1 {
    font-size: 45px;
    color: #070F2B;;
}

.home-box p {
    font-size: 18px;
    color: #070F2B;
}

.home-box a {
    font-size: 16px;
    background-color: #070F2B;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
}

.home-box a:hover {
    background-color: #9290C3;
    color: #070F2B;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #070F2B;
    color: #9290C3;
    text-align: center;
    padding: 15px;
}

#about {
    min-height: 70vh;
    padding: 50px;
    text-align: center;
}

.about-box {
    background-color: #E8E7F2;
    padding: 40px;
    border-radius: 15px;
    max-width: 800px;
    margin: auto;
}

.about-box h1 {
    font-size: 45px;
    color: #070F2B;
}

.about-box p {
    font-size: 18px;
    line-height: 1.7;
    color: #070F2B;
}

.about-box:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px #9290C3;
}

.interests {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.interest-card {
    background-color: #E8E7F2;
    padding: 25px;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
}

.interest-card:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px #9290C3
}

.interests-title {
    font-size: 25px;
    text-align: center;
    color: #070F2B;
    margin-top: 50px;
}

.fun-facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.fact-card {
    background-color: #E8E7F2;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.fact-card:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px #9290C3
}

.facts-title {
    font-size: 25px;
    text-align: center;
    color: #070F2B;
    margin-top: 50px;
}

.skills-title {
    text-align: center;
    font-size: 45px;
    color: #070F2B;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.skill-card {
    background-color: #E8E7F2;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.skill-card:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px #9290C3
}

main {
    padding-bottom: 20px;
}

.contact-title {
    text-align: center;
    font-size: 50px;
    color: #070F2B;
}

.contact-text {
    text-align: center;
    font-size: 25px;
    color: #070F2B;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.contact-links a {
    background-color: #9290C3;
    color: #070F2B;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
}

.contact-links a:hover {
    background-color: #030305;
    color: #fefeff;
}

.gallery-title {
    text-align: center;
    font-size: 50px;
    color: #070F2B;
}

.gallery {
    columns: 3;
    column-gap: 15px;
    width: calc(100% - 30px);
    margin: 40px auto 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}